html {
  box-sizing: border-box;
  overflow-y: scroll;
  -ms-overflow-style: scrollbar;

  // background-color: $html-bg-color;
  // color: $html-text-color;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


html,
body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: $base-background-color;
  color: $base-font-color;
  font-size: $base-font-size;
  font-family: $base-font-family;
  line-height: $base-line-height;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}


// From Rythem
html{
  overflow-y: scroll;
    -ms-overflow-style: scrollbar;
}
.page{
  overflow: hidden;
}

.body-masked{
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff url(../images/loader.gif) no-repeat center center;
  z-index: 100000;  
}

.mask-delay{
  -webkit-animation-delay: 0.75s;
  -moz-animation-delay: 0.75s;
  animation-delay: 0.75s;
}
.mask-speed{
  -webkit-animation-duration: 0.25s !important;
  -moz-animation-duration: 0.25s !important;
  animation-duration: 0.25s !important;
} 
iframe{
    border: none;
}
a, b, div, ul, li{
  -webkit-tap-highlight-color: rgba(0,0,0,0); 
  -webkit-tap-highlight-color: transparent; 
  -moz-outline-: none;
}
a:focus,
a:active{
  -moz-outline: none;
  outline: none;
}
img:not([draggable]), embed, object, video{
    max-width: 100%;
    height: auto;
}

.hidden-xs {
  @include media($xsmall-only) {
    display: none;
  }
}

.page-section,
.small-section {
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  box-sizing: border-box;
  padding: 140px 0;
}

.small-section{
  padding: 70px 0;
}

.gradient-overlay {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;

    // opacity: .96;
    opacity: .50;
    width: 100%;
    height: 100%;
    background: #1eb089;
    background: -moz-linear-gradient(left, #1eb089 0%, #7c49ab 100%, #7db9e8 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #1eb089), color-stop(100%, #7c49ab), color-stop(100%, #7db9e8));
    background: -webkit-linear-gradient(left, #1eb089 0%, #7c49ab 100%, #7db9e8 100%);
    background: -o-linear-gradient(left, #1eb089 0%, #7c49ab 100%, #7db9e8 100%);
    background: -ms-linear-gradient(left, #1eb089 0%, #7c49ab 100%, #7db9e8 100%);
    background: linear-gradient(to right, #1eb089 0%, #7c49ab 100%, #7db9e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1eb089', endColorstr='#7db9e8', GradientType=1);
  }
}

.elements-container {
  @include margin(null auto);
  @include padding(null $base-spacing);
  max-width: 500px;
}





















