html {
  box-sizing: border-box;
  overflow-y: scroll;
  -ms-overflow-style: scrollbar;

  // background-color: $html-bg-color;
  // color: $html-text-color;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: $base-background-color;
  color: $base-font-color;
  font-size: $base-font-size;
  font-family: $base-font-family;
  line-height: $base-line-height;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

// .page {
//   overflow: hidden;
// }

.page-section,
.small-section {
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  box-sizing: border-box;
  padding: 140px 0;
}

.small-section{
  padding: 70px 0;
}

.gradient-overlay {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;

    // opacity: .96;
    opacity: .50;
    width: 100%;
    height: 100%;
    background: #1eb089;
    background: -moz-linear-gradient(left, #1eb089 0%, #7c49ab 100%, #7db9e8 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #1eb089), color-stop(100%, #7c49ab), color-stop(100%, #7db9e8));
    background: -webkit-linear-gradient(left, #1eb089 0%, #7c49ab 100%, #7db9e8 100%);
    background: -o-linear-gradient(left, #1eb089 0%, #7c49ab 100%, #7db9e8 100%);
    background: -ms-linear-gradient(left, #1eb089 0%, #7c49ab 100%, #7db9e8 100%);
    background: linear-gradient(to right, #1eb089 0%, #7c49ab 100%, #7db9e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1eb089', endColorstr='#7db9e8', GradientType=1);
  }
}

.elements-container {
  @include margin(null auto);
  @include padding(null $base-spacing);
  max-width: 500px;
}




// From Rythem
iframe{
    border: none;
}
a, b, div, ul, li{
  -webkit-tap-highlight-color: rgba(0,0,0,0); 
  -webkit-tap-highlight-color: transparent; 
  -moz-outline-: none;
}
a:focus,
a:active{
  -moz-outline: none;
  outline: none;
}
img:not([draggable]), embed, object, video{
    max-width: 100%;
    height: auto;
}



























$parallax-window-height: 30em;
$parallax-background-height: $parallax-window-height * 2;

.parallax-window {
  max-height: $parallax-window-height;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.parallax-static-content {
  color: white;
  padding: 150px 0;
  position: relative;
  z-index: 9;
  .btn {
    font-size: em(20px) !important;
    font-weight: $font-weight--bold  !important;
    letter-spacing: 1px;
    color: $base-font-color;
    background: $color-teal;
    margin: 0 auto;
    &:hover,
    &:focus {
      color: $base-font-color;
      background: darken($color-teal, 10%);
    }
  }
}

.parallax-background {
  background: url("../img/paralax-bg.jpg") repeat;
  background-position: bottom center;
  background-size: cover;
  background-color: $base-background-color;
  height: $parallax-background-height;
  left: 0;
  position: absolute;
  top: - $parallax-window-height / 3;
  width: 100%;
      &::after {
      @include position(absolute, 0);
      background-color: rgba($color-black,.3);
      content: "";
      display: block;
    }
}



