$white: #fff;
$black: #000;
$color_tundora_approx: #444;
$color_bunker_approx: #151515;
$color_woodsmoke_approx: #111;

$black_70: rgba($black, .7);
$black_40: rgba($black, .40);
$white_75: rgba($white, .75);
$white_75: rgba($white, .75);



#{$all-buttons},
.btn {
  -webkit-font-smoothing: antialiased;
  appearance: none;
  background: rgba(34, 34, 34, 0.9);
  background-image: none;
  border-color: #007095;
  border-radius: $base-border-radius;
  border: 2px solid transparent;
  box-shadow: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1;
  margin: 0 4px 8px;
  padding: $small-spacing $base-spacing;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  touch-action: manipulation;
  transition: background-color $base-duration $base-timing;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  &:hover,
  &:focus {
    font-weight: 500;
    color: $white_75;
    background: $black_70;
    text-decoration: none;
    outline: none;
    border-color: transparent;
    box-shadow: none;
  }
  &:active {
    cursor: pointer !important;
    outline: none !important;
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
    &:hover {
      background-color: $action-color;
    }
  }

  &.btn-sm {
    height: auto;
    padding: 6px 17px;
    font-size: 11px;
    letter-spacing: 1px;
  }
  &.btn-md {
    height: auto;
    padding: 8px 37px;
    font-size: 12px;
  }
  &.btn-lg {
    height: auto;
    padding: 12px 45px;
    font-size: 13px;
  }
  &.btn-glass {
    color: $white_75;
    background: $black_40;
    &:hover, 
    &:focus {
      color: $white;
      background: $black;
    }
  }
  &.btn-border {
    color: $color_bunker_approx;
    border: 2px solid $color_bunker_approx;
    background: transparent;
    &:hover, 
    &:focus {
      color: $white;
      border-color: transparent;
      background: $black;
    }
  }
  &.btn-border-c {
    color: $color-teal;
    border: 2px solid $color-teal;
    background: transparent;
    &:hover,
    &:focus {
      color: $color-black;
      border-color: transparent;
      background: $color-teal;
    }
  }
  &.btn-border-w {
    color: $white;
    border: 2px solid $white_75;
    background: transparent;
    &:hover,
    &:focus {
      color: $color_woodsmoke_approx;
      border-color: transparent;
      background: $white;
    }
  }
  &.btn-w {
    color: $color_woodsmoke_approx;
    background: $white_75;
    &:hover,
    &:focus {
      color: $color_woodsmoke_approx;
      background: $white;
    }
  }
  &.btn-w-color {
    color: $color-pink;
    background: $white;
    &:hover,
    &:focus {
      color: $color_bunker_approx;
      background: $white;
    }
  }
  &.btn-color {
    color: $white;
    background: $color-pink;
    &:hover,
    &:focus {
      color: $white;
      background: $color-pink;
      opacity: .85;
    }
  }
  &.btn-circle {
    border-radius: 30px;
  }
}






.btn-icon {
  position: relative;
  border: none;
  overflow: hidden;
  &.btn-small {
    overflow: hidden;
  }
  > span {
    width: 100%;
    height: 50px;
    line-height: 50px;
    margin-top: -25px;
    position: absolute;
    top: 50%;
    left: 0;
    color: $dark-gray;
    font-size: 48px;
    opacity: .2;
    transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
  }
  &:hover > span {
    opacity: 0;
    transform: scale(2);
  }
  > span {
    &.white {
      color: $white;
    }
    &.black {
      color: $black;
    }
  }
}

.btn-full {
  width: 100%;
}