.bg-base {
  background-color: $base-background-color;
}

.bg-secondary {
  background-color: $secondary-background-color;
}

.featured-items {
  @include outer-container;
}

.featured__item {
  text-align: center;
  margin: ($base-spacing * 2) auto;

  @include pad($base-spacing * 2);

  @include media($medium-up) {
    @include span-columns(8);

    margin: 0;
  }


  .btn {
    color: $white;
    background: $color-purple;

    &:hover,
    &:focus {
      color: $white;
      background: $color-purple;
      opacity: .85;
    }

    &:nth-of-type(2n+1) {
      background: $color-purple_light;

      &:hover,
      &:focus {
        color: $white;
        background: $color-purple;
        opacity: .85;
      }
    }
  }
}

.featured__item--icon {
  padding-top: $small-spacing;
  color: #111;

  img {
    height: 75px;
  }
}

.featured__item--title {
  margin-top: $base-spacing;
}

.featured__item--descr {
  color: #777;
  margin-bottom: $small-spacing;
}






.events {
  @include outer-container;

  .base-headline {
    @include row;
  }

  .events__more {
    float: right;
    margin-top: 7px;
    color: #999;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0.2em;
    transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
  }

  .event-item {
    @include span-columns(8);

    img {
      margin-bottom: $base-spacing;
    }

    .base-headline {
      margin-bottom: $base-font-size / 2;
      color: $color-black;
    }

    .badges {
      margin-bottom: $base-font-size;
    }
  }
}










.landing__events {
  
  .section-title {
    margin-bottom: 30px;
  }

  .events__more {
    float: right;
    margin-top: 7px;
    color: #999;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0.2em;
    transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
  }
}


.blog-posts-carousel {
  border-bottom: 1px solid $color-gray;
}






.blog-posts-carousel-item {
  padding-bottom: 20px;
  text-align: center;

  //colors
  $color_tapa_approx: #777;
  $color_woodsmoke_approx: #111;
  $color_silver_chalice_approx: #aaa;

  .post-prev-img {
    margin-bottom: $base-spacing;
    position: relative;

    a {
      transition: all 0.2s cubic-bezier(0.3, 0.1, 0.58, 1);
      opacity: 1;
    }

    img {
      width: 100%;
      transition: all 0.2s cubic-bezier(0.3, 0.1, 0.58, 1);
      opacity: 1;

      &:hover {
        opacity: .85;
      }
    }
  }

  .post-prev-title {
    margin-bottom: $base-font-size / 2;
    font-size: em(18px);
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 0 $small-spacing;

    a {
      font-weight: $font-weight--medium;
      text-decoration: none;
      transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);

      &:hover {
        color: darken($color-purple_light, 20%);
      }
    }
  }

  .post-prev-text {
    margin-bottom: $base-spacing;
    padding: 0 $small-spacing;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.75;
  }
}