$navigation-height_top: 90px;
$navigation-height: 60px;
$horizontal-bar-mode: 900px;
$navigation-background: $dark-gray;
$navigation-color: transparentize(white, 0.2);
$navigation-color-hover: white;
$navigation-z-index: 1000;

$bar-thickness: 5px;
// The thickness of the button bars
$button-pad: 24px;
// The left/right padding between button area and bars.
$button-bar-space: 8px;
// The spacing between button bars
$button-transistion-duration: 0.3s;

// Extends
%nav-item-link {
  display: block;
  color: $navigation-color;
  height: $navigation-height / 1.3;
  line-height: $navigation-height / 1.3;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.small-height {
  height: 55px !important;
  line-height: 55px !important;
}

.navigation {
  background: $navigation-background;
  z-index:$navigation-z-index !important;



.navigation-menu-button {
  $bar-thickness: 4px;
  $button-pad: 24px;
  $button-bar-space: 8px;
  $button-transistion-duration: 0.3s;

  float: right;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: $navigation-height_top;
  height: $navigation-height_top;
  font-size: 0;
  text-indent: -9999px;
  border-radius: 0;
  border: none;
  transition: background $button-transistion-duration;
  background-color: transparent;

  @include media($horizontal-bar-mode) {
    display: none;
  }

  &:focus {
    outline: none;
  }

  span {
    display: block;
    position: absolute;
    top: $navigation-height_top / 2 - $bar-thickness / 2;
    left: $button-pad;
    right: $button-pad;
    height: $bar-thickness;
    background: rgb(255, 255, 255);
    transition: background 0s $button-transistion-duration;

    &::before,
    &::after {
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: $bar-thickness;
      background-color: #fff;
      content: "";
      transition-duration: $button-transistion-duration, $button-transistion-duration;
      transition-delay: $button-transistion-duration, 0s;
    }

    &::before {
      top: -$bar-thickness - $button-bar-space;
      transition-property: top, transform;
    }

    &::after {
      bottom: -$bar-thickness - $button-bar-space;
      transition-property: bottom, transform;
    }
  }

  &.is-active {
    background-color: $color-purple_light;

    span {
      background: none;

      &::before {
        top: 0;
        transform: rotate(45deg);
        transition-delay: 0s, $button-transistion-duration;
      }

      &::after {
        bottom: 0;
        transform: rotate(-45deg);
        transition-delay: 0s, $button-transistion-duration;
      }
    }
  }
}

 




  .navigation-wrapper,
  .navigation-wrapper-top {
    @include outer-container;
    @include clearfix;

    position: relative;

    @include media($large-down) {
      // padding: 0 15px;
      margin: 0 2%;
    }
  }

  .navigation-wrapper {
    border-top: 1px solid rgba(100, 100, 100, 0.4);
  }

  // Logo
  .logo {
    display: inline-block;
    float: left;
    height: $navigation-height_top;
    line-height: $navigation-height_top;

    img {
      margin-right: $base-spacing;
      height: $navigation-height_top / 2;
      max-width: 100%;
    }
  }


  // Button
  .button-wrapper {
    display: none;

    @include media($horizontal-bar-mode) {
      display: inline-block;
      float: right;
      height: $navigation-height_top;
      line-height: $navigation-height_top;
      > .btn {
        margin-bottom: 0;
      }
    }
  }

  nav {
    border-top: 1px solid rgba(100,100,100, .4);
    float: none;

    @include media ($horizontal-bar-mode) {
      border-top: none;
      float: left;
      text-align: center;
    }
  }

  ul.navigation-menu {
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    width: 100%;

    @include media($horizontal-bar-mode) {
      display: block;
    }

    &.show {
      display: block;
    }
  }

  // Nav items
  ul li.nav-item {
    display: block;
    text-align: right;
    position: relative;


    @include media ($horizontal-bar-mode) {
      text-align: left;
      background: transparent;
      display: inline-block;
      text-decoration: none;
      margin-right: $base-spacing;
    }


    a.nav-link {
      @extend %nav-item-link;
      font-weight: 600;
      @include media($horizontal-bar-mode) {
        display: inline-block;
        height: $navigation-height;
        line-height: $navigation-height;
      }
    }

    .submenu {
      display: none;
      width: 100%;
      z-index: $navigation-z-index;

      @include media($horizontal-bar-mode) {
        position: absolute;
        top: 100%;
        left: -1em;
        background: rgba(30,30,30, .97);
        width: 300px;
      }


      li {
        display: block;
        width: 100%;
        line-height: 1.5;

        @include media($horizontal-bar-mode) {
          text-align: left;
          line-height: $navigation-height / 1.3;
        }


        a {
          @extend %nav-item-link;
          text-transform: initial;
          padding: 0 ($small-spacing * 2);
          width: 100%;
          border-left: none;
          border-right: none;
          border-bottom: 1px solid rgba(255, 255, 255, 0.065);
          padding: 0 ($small-spacing * 2);
          width: 100%;
        }
      }
    }
  }
}


.mobile-on ul li a {
  padding: 0 $small-spacing;
  position: relative;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.065);
  font-size: 14px !important;
}

.mobile-on a:hover {
  background: rgba(255, 255, 255, 0.03);
}

.mobile-on .js-opened > .mn-has-sub > .fa {
  border-color: rgba(255, 255, 255, 0.4);
  border-bottom: 1px solid rgba(255,255,255, .065);
}

.mobile-on a:hover {
  background: rgba(255,255,255, .03);
}

.mobile-on .js-opened > .mn-has-sub > .fa {
  border-color: rgba(255,255,255, .4);
  line-height: 16px;
}

.mobile-on .mn-has-sub > .fa {
  display: block;
  width: 20px;
  height: 20px;
  font-size: 14px;
  line-height: 18px;
  position: absolute;
  letter-spacing: 0;
  top: 50%;
  left: $small-spacing;
  margin-top: -$small-spacing;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

















// Navbar Search

.navigation-search {
  float: none;
  clear: both;
  display: block;
  height: $navigation-height;
  line-height: $navigation-height;

  @include media($horizontal-bar-mode) {
    background: transparent;
    float: right;
    clear: none;
  }


  .search-bar {
    width: 100%;
    display: inline-block;

    @include media($horizontal-bar-mode) {
      width: 150px;
    }


    @include media(1000px) {
      width: 250px;
    }


    form {
      position: relative;

      input[type=search] {
        height: 40px;
        width: 100%;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 1px;
        text-transform: uppercase;
      }

      .search-button {
        width: 40px;
        height: 40px;
        line-height: 40px;
        padding: 0;
        margin-bottom: 0;
        margin-top: -20px;
        position: absolute;
        top: 50%;
        right: 1px;
        overflow: hidden;
        background: transparent;
        border: none;
        outline: none;
        color: $color-purple_light;
        font-size: 14px;

        &:hover {
          color: darken($color-purple, 10%);
        }
      }
    }
  }
}

