$parallax-window-height: 30em;
$parallax-background-height: $parallax-window-height * 2;

.parallax-window {
  max-height: $parallax-window-height;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.parallax-static-content {
  color: white;
  padding: 150px 0;
  position: relative;
  z-index: 9;
  .btn {
    font-size: em(20px) !important;
    font-weight: $font-weight--bold  !important;
    letter-spacing: 1px;
    color: $base-font-color;
    background: $color-teal;
    margin: 0 auto;
    &:hover,
    &:focus {
      color: $base-font-color;
      background: darken($color-teal, 10%);
    }
  }
}

.parallax-background {
  background: url("../img/paralax-bg.jpg") repeat;
  background-position: bottom center;
  background-size: cover;
  background-color: $base-background-color;
  height: $parallax-background-height;
  left: 0;
  position: absolute;
  top: - $parallax-window-height / 3;
  width: 100%;
      &::after {
      @include position(absolute, 0);
      background-color: rgba($color-black,.3);
      content: "";
      display: block;
    }
}

