.events {
  @include outer-container;

  .base-headline {
    @include row;
  }

  .events__more {
    float: right;
    margin-top: 7px;
    color: #999;
    font-size: em(11px);
    font-weight: 400;
    letter-spacing: 0.2em;
    transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
  }
  .event-items {
    @include outer-container;
  }
  .event-item {
    @include media($small-up) {
      @include span-columns(8);
    }

    img {
      margin-bottom: $base-spacing;
    }

    .base-headline {
      margin-bottom: $base-font-size / 2;
      color: $color-black;
      font-size: em(18px);
    }

    .badges {
      margin-bottom: $base-font-size;
    }
  }
}









.cta-area {
  background-color: $color-black;
  padding: 55px 0;
  text-align: center;
  .container {
    @include outer-container;
      @include media($large-down) {
        @include margin(null 1em);
      }
  }

  .col-md-9 {
    @include media($medium-up) {
      @include span-columns(16);
    }

    h2 {
      font-weight: 700;
      text-transform: uppercase;
      margin: 0 auto $small-spacing;
      height: auto;
      vertical-align: middle;
      color: $color-teal;
      font-size: em(24px);
      @include media($medium-up) {
        margin: 0;
        text-align: left;
        font-size: em(28px);
        line-height: 54px;
        letter-spacing: 2px;
      }
    }
  }

  .col-md-3 {
    @include media($medium-up) {
      @include span-columns(8);
      text-align: right;
    }
    .btn {
      margin: 0;
      @include media($medium-up) {
        margin-top: 5px;
      }
    }
    }
}

.col-md-9 {
  @include media($medium-up) {
    @include span-columns(16);
  }
}

.col-md-3 {
  @include media($medium-up) {
    @include span-columns(8);
    text-align: right;
  }
  .cta-btn {
    margin-top: 5px;
  } 
}
















%sposnsors-extend_1 {
  cursor: default !important;
  border: none !important;
  outline: 0 !important;
  text-decoration: none !important;
}



.sponsorsFooter {
  text-align: center;

  .base-headline {
    > strong {
      font-weight: 700;
    }
  }

  img {
    border-radius: $base-border-radius;
    max-width: 120px;
  }

  ul {
    padding: $small-spacing 0;
    display: block;

    span {
      display: inline;
      padding: 26px 0;
      transition: opacity 0.25s ease;
      @extend %sposnsors-extend_1;

      li > a {
        @extend %sposnsors-extend_1;
      }
    }

    li {
      margin: 0 16px;
      display: inline-block;
    }

    &.enter > span {
      &.hover {
        opacity: 1;
        box-shadow: inset -1px 0 0 0 $color-shadow, inset 1px 0 0 0 $color-shadow;
      }

      &:not(.hover) {
        opacity: .1;
      }
    }
  }
}

@media (max-width: 750px) {
  .sponsorsFooter {
    img {
      max-width: 70px;
    }

    ul li {
      margin: 0 5px;
    }
  }
}