.events {
  @include outer-container;

  .base-headline {
    @include row;
  }

  .events__more {
    float: right;
    margin-top: 7px;
    color: #999;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0.2em;
    transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
  }

  .event-item {
    @include span-columns(8);

    img {
      margin-bottom: $base-spacing;
    }

    .base-headline {
      margin-bottom: $base-font-size / 2;
      color: $color-black;
    }

    .badges {
      margin-bottom: $base-font-size;
    }
  }
}

















%sposnsors-extend_1 {
  cursor: default !important;
  border: none !important;
  outline: 0 !important;
  text-decoration: none !important;
}



.sponsorsFooter {
  text-align: center;

  .base-headline {
    > strong {
      font-weight: 700;
    }
  }

  img {
    border-radius: $base-border-radius;
    max-width: 120px;
  }

  ul {
    padding: $small-spacing 0;
    display: block;

    span {
      display: inline;
      padding: 26px 0;
      transition: opacity 0.25s ease;
      @extend %sposnsors-extend_1;

      li > a {
        @extend %sposnsors-extend_1;
      }
    }

    li {
      margin: 0 16px;
      display: inline-block;
    }

    &.enter > span {
      &.hover {
        opacity: 1;
        box-shadow: inset -1px 0 0 0 $color-shadow, inset 1px 0 0 0 $color-shadow;
      }

      &:not(.hover) {
        opacity: .1;
      }
    }
  }
}

@media (max-width: 750px) {
  .sponsorsFooter {
    img {
      max-width: 70px;
    }

    ul li {
      margin: 0 5px;
    }
  }
}